<%= form_for @planned_roster_group do |f| %>
  <div id="planned_roster_groups"></div>

  <%= f.submit "Submit" %>
<% end %>

<script type="text/javascript">
  React.renderComponent(WorshipTeamCenter.PlannedRosterGroups({rosters: <%= @planned_roster_group.planned_rosters.to_json.html_safe %>}), document.getElementById("planned_roster_groups"));
</script>
