<%= @planned_roster_group.errors.full_messages if @planned_roster_group.errors.present? %>

<%= form_for @planned_roster_group do |f| %>
  <div id="planned_roster_groups"></div>

  <%= f.submit "Save", class: "btn btn-primary btn-large" %>
<% end %>
