<div class="alert alert-danger" role="alert">
  This is only for the people planning the monthly roster.
  If you want to give your availability, this is the <em>wrong</em> page.
  You can give your availability <%= link_to "here", new_availability_group_path %>.
</div>

<div class="roster-planner-header">
  <h1>Roster Planner</h1>
  <%= link_to "Create Roster", new_planned_roster_group_path, class: "btn btn-warning create-roster-link" %>
</div>

<table class="table table-striped table-hover table-bordered table-responsive">
  <tr>
    <th>Month</th>
  </tr>
  <% @planned_roster_groups.each do |group| %>
    <tr>
      <td>
        <%= link_to group.month.strftime("%B %Y"), planned_roster_group_path(group) %>
      </td>
    </tr>
  <% end %>
</table>
