<h1>Month: <%= @planned_roster_group.month %></h1>

<%= link_to "Download", download_package_planned_roster_group_path, method: :post %>

<% @planned_roster_group.planned_rosters.each do |roster| %>
  <%= roster.team %>
<% end %>
