<h1>Month: <%= @planned_roster_group.month.strftime("%B %Y") %></h1>

<div class="pull-right">
  <%= link_to "Edit", edit_planned_roster_group_path(@planned_roster_group), class: "btn btn-warning" %>
  <%= link_to "Download Images", download_package_planned_roster_group_path, method: :post, class: "btn btn-success" %>
</div>

<% @planned_roster_group.planned_rosters.each do |roster| %>
  <%= roster.team %>
<% end %>
