<h1>Give Your Availability</h1>


<div class="alert alert-info" role="alert">
  For the time being, the availability can't be changed once you Save it, so pick carefully!
</div>

<%= render partial: "availability_groups/form", locals: { availability_group: @availability_group } %>
<%= render partial: "availability_groups/javascript", locals: { availability_group: @availability_group } %>

