<table class="table table-striped table-hover table-responsive">
  <tr>
    <th>Song Name</th>
    <th>Lyrics</th>
    <th>Added On</th>
  </tr>

  <% @songs.each do |song| %>
  <tr>
    <td><%= song.name %></td>
    <td><%= song.lyrics %></td>
    <td><%=  time_ago_in_words(song.created_at) %> ago</td>
  </tr>
  <% end %>
</table>