<h2>Edit this Song List</h2>

<%= render partial: "song_lists/form", locals: { song_list: @song_list } %>

<script type="text/javascript">
    var songList = new window.WorshipTeamCenter.SongList();
    songList.bind_view();
    $("#song_list_done_on").datepicker({ format: "yyyy-mm-dd"});
</script>