<%= render partial: "song_lists/form", locals: { song_list: @song_list } %>

<h2>Add songs to this list</h2>
<%= select_tag "Foo", options_from_collection_for_select(Song.all, :id, :name), id: "add-new-song-select" %>
<%= link_to "Add This Song", "javascript:void(0);", class: "btn", id: "add-new-song-action" %>

<script type="text/javascript">
    var songList = new window.WorshipTeamCenter.SongList();
    $("#add-new-song-action").click(songList.add_new_song);
    $(".remove-song-action").click(songList.remove_song);
    $("#song_list_done_on").datepicker({ format: "yyyy-mm-dd"});
</script>