<h2>Add a new Song List</h2>

<%= render partial: "song_lists/form", locals: { song_list: @song_list } %>

<script type="text/javascript">
    var songList = new window.WorshipTeamCenter.SongList();
    $("#add-new-song-action").click(songList.add_new_song);
    $(".remove-song-action").click(songList.remove_song);
    $("#song_list_done_on").datepicker({ format: "yyyy-mm-dd"});
</script>