<h2>Worship Set for <%= l(@song_list.done_on, format: :long) %> – <%= @song_list.service %> Service</h2>

<h4 class='song-list-theme'>Theme: <%= @song_list.theme %></h4>

<%= render partial: "songs_in_list", locals: { song_list: @song_list } %>