$navbarBackground: #EB1579;
$navbarBackgroundHighlight: $navbarBackground;
$navbarLinkColor: #fff;
$navbarLinkColorHover: #FFB108;

$bodyBackground: #FFE375;
$tableBackground: #fff;

@import "bootstrap";
@import "datepicker";
@import "song_lists";