$navbarBackground: #EB1579;
$navbarBackgroundHighlight: $navbarBackground;
$navbarLinkColor: #fff;
$navbarLinkColorHover: #FFB108;

$bodyBackground: #FFE375;
$tableBackground: #fff;

@import "bootstrap";
@import "datepicker";
@import "song_lists";
@import "songs";

.container {
	width: 60%;
	margin: 0 auto;
	background-color: lightYellow;
	padding: 20px;
}

.table-container {
	width: 80%;
	padding: 0;
}

.alert {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}

textarea {
	width: 100%;
}