$navbarBackground: #DB2351;
$navbarBackgroundHighlight: $navbarBackground;
$navbarLinkColor: #fff;
$navbarLinkColorHover: #FFB108;

$bodyBackground: #FFE375;
$tableBackground: #fff;

@import "bootstrap";
@import "chosen";
@import "datepicker";
@import "song_lists";
@import "team_members";
@import "songs";
@import "sessions";
@import "avatars";

.container {
	width: 60%;
	margin: 0 auto;
	background-color: lightYellow;
	padding: 20px;
}

.table-container {
	background-color: transparent;
	width: 90%;
	max-width: 960px;
	padding: 0;
}

.alert {
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}

textarea {
	width: 100%;
}

.nav.right {
  float: right;
}
