.sessions_form_field {
  font-size: 18px;
  padding-left: 10px;
  line-height: 30px;
  height: 30px;
  margin: 10px 0;
}

.sessions_form_label {
  margin-top: 10px;
  display: inline;
  font-size: 18px;
}

.sessions_remember_me {
  margin-top: 15px;
  input {
    margin-top: -2px;
    font-size: 18px;
  }
}

.sessions_submit_button {
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
}

.sessions_header {
  font-size: 30px;
  margin-bottom: 20px;
}
