.song-label {
	display: inline;
}

.remove-song-action {
	display: inline;
}

#create-song-list-action {
	margin-top: 30px;
}

.song-list-theme {
  margin: 20px 0 20px 0;
}

.song-list-leader {
  margin: 0 0 20px 0;
}

.delete-song-list-button {
	margin-left: 10px;
}

#song_list_leader_id_chosen {
  margin-bottom: 10px;
}
