.user-label {
	display: inline;
}

.remove-user-action {
	display: inline;
}

#create-user-list-action {
	margin-top: 30px;
}

.user-list-theme {
  margin: 20px 0 20px 0;
}

.user-list-leader {
  margin: 0 0 20px 0;
}

.delete-user-list-button {
	margin-left: 10px;
}

#user_list_leader_id_chosen {
  margin-bottom: 10px;
}
