.user-show-item {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.last-in-team-on {
  margin-top: 20px;
}

.last-in-team-item {
  margin: 5px 0;
  font-size: 16px;
}

.user-show-avatar {
  margin-top: 10px;
}
